body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
div.caja_principal{
    margin:auto;
    width: 60%;
}
h1 {
    color: brown;
}
.indice h3{
    margin-top: 0;
}
img#img_indice{
    width: 150px;
    margin-right: 20px;
}

div.indice {
    display: flex;
}

/*Coge el segundo div*/
div.indice div:nth-child(0n+2){
    width: 100%;
}
ul.index{
    margin: 0;
    padding: 0;
}
ul.index>li{
    list-style: none;
    position: relative;
}
ul.index>li a{
    text-decoration: none;
    padding: 10px;
    background-color:brown;
    display: block;
    margin-bottom: 5px;
    color: beige;
}

ul.index>li a:hover{
    background-color:rgb(134, 31, 31);

}

div.gatitos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.gatitos div{
    width: 200px;
}

div.gatitos h5{
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

div.gatitos div img{
    width: 200px;
    height: 250px;
    border-radius: 5px;
}

div.gatitos div p{
    text-align: justify;
}

h1.fnt-red {
    color: red;
    }
.fnt-blue {
    color: blue;
}
#nombre_alumno {
    color: red;
    text-decoration: underline;
}

.titulo{
    color:lightblue;
    font-size: 30px;
    font-style: italic;
}

.texto{
    color: darkblue;
    font-size: 15px;
}

.destacado{
    font-style: italic;
    font-weight: bold;
}

div.contenedor_bicis{
    display: flex;
    justify-content: center;
}

div.bicicletas{
    background-color: white;
    border-radius: 10px;
    /*display: inline-block;*/
    width: 200px;
    padding: 5px;
    overflow: hidden;
    height: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

div.imgs{
    height: 220px;
}

div.comprar{
    position: absolute;
    right: 10px;
    top:10px;
    height: 24px;
    width: 24px;
    background-color: rgba(127,255, 176, 0.73);
    border-radius: 100%;
    padding: 5px;
}

div.bicicletas>div:nth-child(0n+2){
    height: 150px;
}

div.imgs>img{
    margin: auto;
    width: 200px;
    border-radius: 5px;
    max-height:220px;
}

div.bicicletas>h4{
    margin: 5px 0;
}

div.bicicletas>p{
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0 20px 0;
}

div.bicicletas>p:nth-child(0n+4){
    color: gray;
}

div.emojis{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;

}

header.header_fixed{
    height: 40px;
    background-color: blue;
    position: fixed;
    width: 100%;
    color: white;
    font-weight: bold;
    text-align: center;
}

header.header_fixed>h2, footer.footer_fixed>h2{
    margin-top:5px;
    padding: 0;
    color: white;
    font-weight: bold;
    text-align: center;
}

section.section_posicionamiento{
    width: 60%;
    margin: auto;
}
section.section_posicionamiento>a{
    display: block;
    text-align: center;
    line-height: 250px;
}

footer.footer_fixed{
    height: 40px;
    background-color: red;
    position: fixed;
    width: 100%;
    bottom: 0;
}

div.rectangulo{
    width: 300px;
    margin: auto;
    height: 150px;
    background-color:brown;
    margin-top: 25%;
    text-align: center;
    color: white;
    font-size: 28px;
    position: relative;
}

div.rectangulo>div>h2{
    position: absolute;
    top: -10px;
}

div.circulos{
    position: absolute;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    border: 7px solid brown;
    z-index: 1;
    background-color: white;
}

div.circulos.c1{

    top:-40px;
    left:-40px;
}

div.circulos.c2{

    top:-40px;
    right: -40px;
}

div.circulos.c3{
    bottom:-40px;
    right: -40px;
}

div.circulos.c4{
    bottom:-40px;
    left: -40px;
}

footer.mencion{
    text-align: center;
    margin-top: 30px;
}

div.div_azul{
    position: relative;
    margin: auto;
    height: 200px;
    background-color: aqua;
    width: 400px;
    border-radius: 20px;
    margin-top: 150px;
}

div.div_blanco{
    position:absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 200px;
    background-color: white;
    overflow: visible;
    border-radius: 20px 0 0 20px;
}

div.div_texto{
    position: absolute;
    text-align: center;
    top: 30px;
    padding: 0 10%;
}

div.caja_direcciones{
    width: 220px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 20%;
}

div.direccion{
    width: 100px;
    height: 100px;
    font-size: 80px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin:5px;
}

div#right{
    background-color: red;
}

div#up{
    background-color: blue;
}

div#down{
    background-color: green;
}

div#left{
    background-color: black;
}

div.caja_factura{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 60px;
    color: navy;
}

div.logotipo_factura{
    line-height: 7px;
    font-size: 12px;
}

div.datos_factura{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

div.datos_factura>div:first-child{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: 10%;
}

div.datos_factura>div:first-child>div{
    display: flex;
    justify-content: space-between;
}

div.datos_factura>div:first-child>div>p{
    margin: 5px;
}

div.datos_factura>div:first-child>div:first-child{
    margin-bottom: 3px;
    border-bottom: 2px solid aquamarine;
}

div.datos_factura>div:last-child{
    width: 80%;
    padding: 5px 10px;
    line-height: 2px;
    font-size: 14px;
    margin-top: 10px;
    border-left: 8px solid aquamarine;
    border-right: 8px solid aquamarine;
}

div.datos_factura>div:last-child>h3{
    font-weight: bold;
    color: navy;
    padding-bottom: 8px;
}

div.tabla_factura{
    grid-column: 1/3;
    background-color: red;
}

div.tabla_factura>table{
    border-collapse: collapse;
}

div.tabla_factura thead{
    color: black;
    font-weight: normal;
    background-color: aquamarine;
}

div.media{
    height: 100vh;
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
}

@media only screen and (max-width: 799px) {
    div.media {
        background-color: green;
    }

    div.media>h2:first-child{
        display: block;
    }

    div.media>h2:last-child{
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    div.media {
        background-color: red;
    }

    div.media>h2:first-child{
        display: none;
    }

    div.media>h2:last-child{
        display: block;
    }
}

div.div_col_1{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    background-color: green;
}

div.mibox{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    background-color: red;
}

.galo{
    font-size: 18px;
    font-weight: bold;
}

div.img_ropa{
    height: 250px;
    overflow: hidden;
}

div.img_ropa>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

h2.articulo{
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-weight: bold;
}

div.imgs_boots{
    height: 300px;
    overflow: hidden;
}

footer.footer_ej_97>p{
    margin: 0;
    padding: 0;
}